.Rproj.user
*.pdf
/datos/Decreto Bachillerato.txt
/datos/Decreto ESO.txt
/datos/Descriptores Bachillerato.rds
/datos/Descriptores Bachillerato.xlsx
/datos/Descriptores ESO.rds
/datos/Descriptores Eso.xlsx
